code {
    background: #282828 !important;
    margin : auto 2px auto 2px;
    color: rgb(179, 179, 179);
}

details > pre {
    background: #404040 !important;
}

details > summary {
    cursor: pointer;
}